{% extends 'base.html.twig' %}

{% block body %}

    <h2 align="center">Affichage des produits</h2>
<table border="2" align="center" width="40%">
    <tr>
        <th>id</th>
        <th>nom</th>
    </tr>
    {% for c in categ %}
       <tr>
           <td>{{ c.id }}</td>
           <td>{{ c.nom }}</td>
       </tr>

    {% endfor %}
</table>
    
{% endblock %}
